$main-color: linear-gradient(90deg, rgb(31, 24, 61) 0%, rgb(38, 31, 77) 100%);

.main {
  width: 100%;
  gap: 10px;
  height: 200px;
  border-top: 1px solid rgb(28, 21, 55);
}

.container {
  width: 100%;
  gap: 8px;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 12px 12px 16px;
}

.bet {
  position: relative;
  display: grid;
  grid-template-rows: 46px 100px;
}

.header {
  min-height: 70px;
  background: $main-color;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
  border-radius: 14px;
  padding: 8px 10px 32px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content max-content 1fr;
  gap: 12px;
}

.autoBet,
.autoOutput {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 10px;
  opacity: 1;
  pointer-events: all;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.checkboxLabel {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  color: rgb(250, 250, 250);
  user-select: none;
}


.firstOutputCoefficientWrapper {
  justify-self: end;
  width: 100%;
  max-width: 120px;

  background: rgb(27, 21, 54);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  pointer-events: all;

  &.disable {}

  .firstOutputCoefficientIput {
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 0px;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 12px;
    opacity: 1;
    transition: opacity 0.16s;
    box-shadow: transparent 0px 0px 0px 1000px inset;
    color: rgb(250, 250, 250);


    &.disable {
      opacity: 0.5;
    }
  }

  .firstOutputCoefficientValue {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    gap: 4px;
    color: transparent;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.16s;

    div:first-child {
      font-family: Manrope;
      color: #fff;
    }

    &.disable {
      opacity: .5;
    }
  }
}

.betAmountController {
  background: linear-gradient(90deg, rgb(36, 29, 71) 0%, rgb(43, 35, 87) 100%);
  box-shadow: rgba(0, 0, 0, 0.15) 0px -4px 24px;
  border-radius: 14px;
  padding: 10px 10px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px;
  gap: 8px;

  .controllerWrapper {
    background: rgb(27, 21, 54);
    border-radius: 10px;
    pointer-events: all;
    transition: opacity 0.32s;

    &.disable {
      opacity: 0.5;
    }
  }

  .betControl {
    padding: 5px;
    display: grid;
    grid-template-columns: 26px 1fr 26px;
    border-bottom: 1px solid rgb(38, 31, 77);
    grid-template-rows: 1fr;
  }

  .buttonWrapper {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 26px;
  }

  .button {
    display: grid;
    position: relative;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    background: none;
    height: auto;
  }

  .buttonContent {}

  .inputWrapper {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .input {
    background: none;
    border: none;
    outline: none;
    width: calc(100% + 55px);
    min-width: 0px;
    font-family: Rocketfont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    caret-color: white;
    padding: 0px;
    margin-left: -25px;
  }

  .inputOverlay {
    position: absolute;
    left: 12.5px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    font-family: Rocketfont;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    color: transparent;
    pointer-events: none;
    opacity: 1;

    div {
      &:last-child {
        color: #fff;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 4px;
  }

  .actionButtonWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
  }

  .actionButton {
    width: 100%;
    display: grid;
    position: relative;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    background: none;
    height: auto;

    .amount {
      padding: 0px 15px;
    }
  }

  .makeBetButton {
    background: rgb(27, 21, 54);
    border-radius: 14px;
    height: 100%;
    border: none;
    padding: 3px;
    position: relative;

    ::after {
      content: "";
      position: absolute;
      width: 101px;
      height: 3px;
      bottom: -10px;
      left: calc(50% - 50.5px);
      border-radius: 12px 12px 0px 0px;
      background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%);
    }

    &.bid {
      ::after {
        background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%);
      }

      .makeBetButtonContent {
        background: linear-gradient(263.87deg, rgb(148, 78, 245) 0%, rgb(92, 36, 252) 100%);
        box-shadow: rgba(25, 201, 245, 0.1) 0px 10px 20px, rgba(92, 36, 252, 0.1) 0px 10px 20px, rgb(148, 78, 245) 0px -2px 4px inset, rgba(148, 78, 245, 0.6) 0px -8px 8px inset;
      }
    }

    &.cancel {
      ::after {
        background: linear-gradient(263.87deg, rgb(245, 78, 118) 0%, rgb(252, 36, 75) 100%);
      }

      .makeBetButtonContent {
        background: linear-gradient(263.87deg, rgb(245, 78, 118) 0%, rgb(252, 36, 75) 100%);
        box-shadow: rgba(245, 25, 65, 0.1) 0px 10px 20px, rgba(252, 36, 101, 0.1) 0px 10px 20px, rgb(245, 78, 118) 0px -2px 4px inset, rgba(245, 78, 128, 0.6) 0px -8px 8px inset;
      }
    }

    &.take {

      ::after {
        background: linear-gradient(263.87deg, rgb(253, 187, 78) 0%, rgb(245, 103, 25) 100%)
      }

      .makeBetButtonContent {
        background: linear-gradient(263.87deg, rgb(253, 187, 78) 0%, rgb(245, 103, 25) 100%);
        box-shadow: rgba(253, 187, 78, 0.1) 0px 10px 20px, rgba(253, 187, 78, 0.1) 0px 10px 20px, rgb(253, 187, 78) 0px -2px 4px inset, rgba(253, 187, 78, 0.6) 0px -8px 8px inset;
      }
    }

    &.wait {
      ::after {
        background: none;
      }
    }
  }

  .makeBetButtonContent {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    font-family: Manrope !important;
    font-size: 22px;
    font-style: normal;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-variant-numeric: tabular-nums;
    font-weight: 700;
    cursor: pointer;

    &.take {
      justify-content: start;
      padding-top: 7px;
      gap: 3px;
    }

    .won {
      font-size: 14px;
      font-weight: 200;
    }
  }
}

.buttonStyles {
  padding: 0px;
  min-width: 26px;
  min-height: 26px;
  color: rgb(148, 138, 197);
  font-family: Manrope;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;

  display: grid;
  place-items: center;
  -webkit-box-align: center;
  width: 100%;
  min-height: 30px;
  border-radius: 8px;
  z-index: 1;
  transition: opacity 0.32s, box-shadow 0.32s, background 0.16s;
  background: rgb(35, 29, 71);
}


/*
cancel : 
height: 100%;
    width: 100%;
    border-radius: 12px;
    font-family: Rocketfont;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    display: grid;
    -webkit-box-pack: center;
    place-content: center;
    grid-auto-rows: max-content;
    text-transform: uppercase;
    font-variant-numeric: tabular-nums;
    background: linear-gradient(263.87deg, rgb(245, 78, 118) 0%, rgb(252, 36, 75) 100%);
    box-shadow: rgba(245, 25, 65, 0.1) 0px 10px 20px, rgba(252, 36, 101, 0.1) 0px 10px 20px, rgb(245, 78, 118) 0px -2px 4px inset, rgba(245, 78, 128, 0.6) 0px -8px 8px inset;
    cursor: pointer;


    waiting:

    height: 100%;
    width: 100%;
    border-radius: 12px;
    font-family: Rocketfont;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    display: grid;
    -webkit-box-pack: center;
    place-content: center;
    grid-auto-rows: max-content;
    text-transform: uppercase;
    font-variant-numeric: tabular-nums;
    cursor: pointer;


    getting:


    height: 100%;
    width: 100%;
    border-radius: 12px;
    font-family: Rocketfont;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgb(250, 250, 250);
    text-shadow: rgb(138, 138, 138) 0px 0px 20px;
    display: grid;
    -webkit-box-pack: center;
    place-content: center;
    grid-auto-rows: max-content;
    text-transform: uppercase;
    font-variant-numeric: tabular-nums;
    background: linear-gradient(263.87deg, rgb(253, 187, 78) 0%, rgb(245, 103, 25) 100%);
    box-shadow: rgba(253, 187, 78, 0.1) 0px 10px 20px, rgba(253, 187, 78, 0.1) 0px 10px 20px, rgb(253, 187, 78) 0px -2px 4px inset, rgba(253, 187, 78, 0.6) 0px -8px 8px inset;
    cursor: pointer;

*/