.loaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.gameLoader {
    width: 80px;
    height: 80px;
    margin-bottom: 22px;

    @media (min-width: 768px) {
        width: 113px;
        height: 113px;
    }
}

.loaderBigLines {
    animation-name: lines-animation;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.loaderLittleLines {
    animation-name: lines-animation;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: center;
}

.loaderJetpack {
    animation-name: jetpack-animation;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loaderFire {
    animation-name: fire-animation;
    animation-timing-function: ease-in-out;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.gameWaiting {
    font-family: "Rocketfont";
    font-size: 16px;
    line-height: 1.5;
    color: #fafafa;
    text-transform: uppercase;
}

@keyframes fire-animation {
    100% {
        transform: translateY(3px);
    }
}

@keyframes jetpack-animation {
    100% {
        transform: translateY(-3px);
    }
}

@keyframes lines-animation {
    100% {
        transform: rotate(360deg);
    }
}

.straightLineLoader {
    margin-top: 10px;
    width: 300px;
    height: 7px;
    background-color: #0c0819;
    position: relative;
    overflow: hidden;
    border-radius: 400px;

    .line {
        width: 100%;
        height: 100%;
        background-color: #753EC2;
        animation: line-animation var(--animation-duration, 2s) linear reverse;
    }
}

@keyframes line-animation {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.loadingText {
    font-family: "Rocketfont";
    font-size: 16px;
    line-height: 1.5;
    color: #fafafa;
    text-transform: uppercase;
    margin-top: 10px;
}
