.jetMainAnimation {
  width: 100%;
  height: calc(80% - 70px);
  position: relative;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 60%;
  }

  .jetMainAnimationContent {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.jetMainSchedule {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: #151028;

  &.scheduleActive {
    z-index: 50;
  }

  .scheduleBg1,
  .scheduleBg2,
  .scheduleBg3,
  .scheduleBg4 {
    animation-play-state: running;
  }
  
  &.scheduleEnd {
    
    .scheduleBg1,
    .scheduleBg2,
    .scheduleBg3,
    .scheduleBg4 {
      animation-play-state: paused !important;
    }
  }
}

.scheduleBg1 {
  position: absolute;
  width: 100%;
  height: 50%;
  background: url(/public/schedules/bg1.png) 0% 0% / contain repeat-x;
  background-repeat: repeat-x;
  animation: 320s scroll infinite linear;
}

.scheduleBg2 {
  position: absolute;
  width: 100%;
  height: 157px;
  bottom: 0px;
  opacity: 1;
  background: url(/public/schedules/bg2.svg) 0% 0% / contain repeat-x;
  background-repeat: repeat-x;
  animation: 100s scroll infinite linear;
}

.scheduleBg3 {
  position: absolute;
  bottom: 0px;
  left: 20px;
  width: 100%;
  height: 20px;
  background: url(/public/schedules/bg3.svg);
  border-top: 1px solid rgb(38, 28, 74);
  animation: 50s scroll infinite linear;
}

.scheduleBg4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 20px;
  height: 100%;
  background: url(/public/schedules/bg4.svg);
  border-right: 1px solid rgb(38, 28, 74);
  animation: 70s scrolltop infinite linear;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 50px;
  z-index: 10;
  display: flex;
  background-color: #151028;
  z-index: 100;

  &.hide {
    display: none;
  }
}

.luckyJet {
  outline: 1px solid;
  height: 100%;
  position: relative;

  &__pilot {
    translate: none;
    rotate: none;
    scale: none;
    width: 80px;
    height: 80px;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
  }

  &__pilotImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(7deg);

    .fire {
      position: absolute;
      width: 50px;
      margin-top: 85%;
      margin-left: -46%;
      z-index: -1;
      transform: rotate(-135deg);
    }

    .boy {
      position: absolute;
      width: 100%;
      z-index: 10;
    }
  }
}

@keyframes scrolltop {
  100% {
    background-position: 0px 3000px;
  }
}

@keyframes scroll {
  100% {
    background-position: -3000px 0px;
  }
}

.coefficientWrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 80%;
  top: 0px;
  left: 0px;
  display: grid;
  align-content: center;
  justify-items: center;
  z-index: 2;
  grid-auto-rows: max-content;
  gap: 2px;
  opacity: 1;


  &.ending {
    .currentCoefficient {
      animation: 0.7s ease 0s 1 normal none running oddOpacity;
    }

    .coefficientEnded {
      animation: 0.4s ease 0s 1 normal forwards running fadeTop;
      height: 45px;
      transition: height 0.4s;
    }
  }
}

.currentCoefficient {
  font-family: Manrope;

  animation-timing-function: unset;
  animation-delay: unset;
  animation-iteration-count: unset;
  animation-direction: unset;
  animation-fill-mode: unset;
  animation-play-state: unset;
  animation-name: unset;
  animation-timeline: unset;
  animation-range: unset;
  animation-duration: 0.7s;

  display: inline;
  font-style: normal;
  font-size: 70.1882px;
  line-height: 83px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(148, 78, 245);
  font-weight: 900;
  font-variant-numeric: tabular-nums;

  &::before {
    display: inline;
    content: "x";
    font-size: 40.84px;
    line-height: 48px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.coefficientEnded {
  animation-timing-function: unset;
  animation-delay: unset;
  animation-iteration-count: unset;
  animation-direction: unset;
  animation-play-state: unset;
  animation-name: unset;
  animation-timeline: unset;
  animation-range: unset;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  transition: height 0.4s;

  font-family: Manrope;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: rgb(250, 250, 250);
  text-shadow: rgba(138, 138, 138, 0.5) 0px 0px 21.9869px;
  opacity: 0;
  height: 45px;
}

@keyframes fadeTop {
  0% {
    transform: translate(0px, 150px);
    opacity: 0;
  }

  50% {
    transform: translate(0px, 0px);
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes oddOpacity {
  10% {
    opacity: 0.5;
  }

  15% {
    opacity: 1;
  }

  20% {
    opacity: 0.5;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0.5;
  }

  35% {
    opacity: 1;
  }

  40% {
    opacity: 0.5;
  }

  45% {
    opacity: 1;
  }

  50% {
    transform: scale(1.15);
    opacity: 0.5;
  }

  55% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}