.section {
  width: 30%;
  border-right: 1px solid rgb(28, 21, 55);
  max-width: 300px;

  display: flex;
  overflow-x: hidden;
  max-height: 90vh;

  * {
    font-family: Manrope;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  width: 100%;
}


.tabsWrapper {
  width: 100%;
  padding-right: 15px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(28, 21, 55);
}

.tabs {
  width: 100%;
  height: 30px;
  background: rgb(17, 13, 33);
  border-radius: 10px;
}

.history {
  margin-top: 15px;
  overflow-y: scroll;
  max-height: 100%;
  padding-right: 15px;
}

.active {
  color: white;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 29, 71);
  border-radius: 8px;
  width: 91px;
  height: 28px;
  font-weight: 500;
  letter-spacing: 0.43px;
}

.no {
  color: rgb(148, 138, 197);
  font-size: 11px;
  margin-left: 20px;
}

.notwo {
  color: rgb(148, 138, 197);
  font-size: 11px;
  margin-right: 20px;
}



.bet {
  width: 100%;
  margin-top: 7.3px;
  margin-bottom: 7.3px;
  height: 35px;
  color: white;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
  // margin-left: 14.5px;
  background: rgba(148, 78, 245, 0.25);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 16px;
  background: linear-gradient(90deg, rgb(28, 22, 56) 0%, rgb(38, 31, 77) 100%);

  &.betDone {
    border: 1px solid rgba(148, 78, 245, 0.5);
    background: rgba(148, 78, 245, 0.25);
  }
}


.betSize {
  width: 80px;
  font-weight: 600;
  margin-left: 2px;
}


.coefficient {
  min-width: 58px;
  height: 26px;
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 4px;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: -0.0023em;
  color: rgb(250, 250, 250);
  border-radius: 7px;
  background-color: blue;
}


.prize {
  text-align: center;
  width: 80px;
  margin-right: 5px;
  margin-left: -7px;
  font-size: 11px;
  color: #fff;

  &.done {
    color: rgb(222, 139, 3);
    font-weight: 600;
    text-align: right;
  }
}

.nope {
  margin-right: 22px;
  margin-left: 11px;
}

.sb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(17, 13, 33);
  width: 42px;
  height: 22px;
  border-radius: 7px;
  margin-right: 2px;
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 29, 71);
  border-radius: 5px;
  width: 18.5px;
  height: 18.5px;
  margin-right: 1px;
}

.verify {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(35, 29, 71);
  border-radius: 5px;
  width: 18.5px;
  height: 18.5px;
  margin-left: 1px;
}